/*
=====================================================================
*   Document      : v 2.0
*	Url           :
*   Created on    :  July 21, 2016
*   Author        :
*   Description   :
=====================================================================

TOC:
a. Reset
b: Typography
c: layout
	1. header
	2. banner
	3. main
	4. footer
d: meadia query css

/* ------------------------------------------------------------------ */
/*  :: Webfont Css  ::
/* ------------------------------------------------------------------ */

@font-face {
    font-family: 'Lintel';

    src: url('../fonts/Lintel_Medium-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lintel_Medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lintel_Medium-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Lintel_Medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Lintel_Medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Lintel_Medium-webfont.svg') format('svg'); /* Legacy iOS */

    src: url('../fonts/Lintel_Bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lintel_Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lintel_Bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Lintel_Bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Lintel_Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Lintel_Bold-webfont.svg') format('svg'); /* Legacy iOS */

    src: url('../fonts/Lintel_ExtraBold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lintel_ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lintel_ExtraBold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Lintel_ExtraBold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Lintel_ExtraBold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Lintel_ExtraBold-webfont.svg') format('svg'); /* Legacy iOS */
}

/* ------------------------------------------------------------------ */
/* a : Reset Css
/* ------------------------------------------------------------------ */
body {
    font-size: 12px;
    text-align:left;
    background:none;
    font-family: Lintel, sans-serif;
}
/*--global css--*/
*{
    outline:none;
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img, fieldset {border:0;}
a {text-decoration:none;}


/* ------------------------------------------------------------------ */
/* b : Typography
/* ------------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
    padding:0;
    margin: 0;
    font-family: Lintel, sans-serif;
}
h3 {
    color: #222;
    font-size: 20px;
    font-family: Lintel_Bold-webfont;
}

h4 {
    color: #222;
    font-size: 22px;
    font-family: Lintel_ExtraBold-webfont;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
h1, h2, p {
    font-family: Lintel, sans-serif;
}
h1 {
    color: #44a9d1;
    font-size: 110px;
    line-height: 70px;
    margin-bottom: 40px;
}
h2 {
    color: #7e7f7f;
    font-size: 34px;
    font-style: italic;
}

p, address{
    font-size: 25px;
    color: #ffffff;
}
.case_section h1, .benefit h1 {
    font-size: 60px;
}
.case_section p {
    color: #7e7f7f;
    margin-bottom: 90px;
}
.benefit {
    background: #000;
}


.logo_sprit {
    background:url("./../images/loges.png") no-repeat;
    text-indent: -9999px;
}
.icon_sprit {
    background:url("./../images/sprits.png") no-repeat;
    width: 260px;
    height: 260px;
}
.energy_saving_icon {
    background-position: 0 0px;
}
.many_options_icon {
    background-position: 0 -233px;
}
.footprint_icon {
    background-position: 0 -519px;
}
.flexibility_icon {
    background-position: 0 -779px;
}
.right-sizing_icon {
    background-position: 0 -1022px;
}


/* ------------------------------------------------------------------ */
/* c : Layout
/* ------------------------------------------------------------------ */
.header_section, .case_section, footer {
    padding: 90px 0px 0 0px;
}

.header_section, footer {
    background: #000;
}
.header_section p {
    margin-top: 60px;
    margin-bottom: 100px;
}
.left_section, .right_section {
    width: calc(50% - 2px);
    display: inline-block;
    vertical-align: bottom;

}
.case_section .left_section {
    width: calc(50% - 2px);

}
.case_section .right_section {
    width: calc(50% - 52px);
    margin-left: 50px;
}
.case_section .right_section img {
    width: 80%;
}


.right_section img {
    width: 100%;
    height: auto;
    float: right;
}
.case_section .right_section {
    vertical-align: top;
}

/* --------------- c.1 : Header--------------- */

.revolution_logo a {
    display: block;
    width: 458px;
    height: 53px;
    background-position: 0 0;


}
/* --------------- c.2 : Banner --------------- */
.benefit article {
    height: 512px;
    margin: 0  auto;

}
.benefit article:nth-child(1) {
    background: url("./../images/01.jpg") no-repeat center center;
}
.benefit article:nth-child(2) {
    background: url("./../images/04.jpg") no-repeat center center;
}
.benefit article:nth-child(3) {
    background: url("./../images/02.jpg") no-repeat center center;
}
.benefit article:nth-child(4) {
    background: url("./../images/03.jpg") no-repeat center center;
}
.benefit article:nth-child(5) {
    background: url("./../images/05.jpg") no-repeat center center;
}
.benefit h1, .footer_content a {
    color: #ec6d2d;
}
.mask {
    background: rgba(0, 0, 0, 0.90);
    width: 100%;
    height: 100%;
    text-align: center;

}
.mask:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.content {
    display: inline-block;
    text-align: left;
    width: 1200px;
    padding: 0 40px;

}
.icon_container, .details {
    display: inline-block;
    vertical-align: middle;
}
.details {
    width: 70%;
    float: right;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding-left: 40px;
}

/* --------------- c.3 : main ----------------- */

/* -------------- c.4 : footer ---------------- */

footer {
    padding-bottom: 60px;
    margin-top: 50px;
    padding-left:20px;
}
footer h2, footer address {
    font-style: normal;
}
footer h2 {
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

.footer_logo {
    display: block;
    width: 217px;
    height: 80px;
    background-position: -120px -53px;
}
footer a {
    text-decoration: underline;
    font-weight: bold;
}
.address_container {
    margin: 130px auto 0 auto;
}
address, .footer_logo {
    display:inline-block;
}
.footer_logo{
    float: right
}






/* ------------------------------------------------------------------ */
/*  d: Media Query Css
/* ------------------------------------------------------------------ */


@media only screen and (min-width : 320px) and (max-width : 480px) {/*--- Mobile portrait ---*/

    .details {
        width: 100%!important;
        margin-top: 0!important;
    }
    .case_section .right_section img {
        width: 95%!important;
    }



    .left_section {
        padding-top: 10px!important;
        width: calc(60% - 2px);
    }
    .right_section {
        width: calc(40% - 2px);
    }
    .case_section .left_section, .case_section .right_section {
        width: 100%!important;
        display: block;
    }

    .header_section p {
        margin-bottom: 0;
    }
    .right_section img {
        float: none;
        width: 150%;
        bottom: -18px!important;
        right: 0!important;
    }
    .case_section p {
        margin: 20px 0 10px 0!important;
    }
    .revolution_logo {
        width: 280px!important;
        background-position: 40px -160px;
    }
    .revolution_logo a {
        width: 280px!important;
    }
    .footer_logo {
        background-position: -240px -133px;
        float: none;
    }

    .icon_sprit {
        width: 120px;
        height: 120px;
    }
    .energy_saving_icon {
        background-position: -312px -129px;
    }
    .many_options_icon {
        background-position: -342px -369px;
    }
    .footprint_icon {
        background-position: -352px -645px;
    }
    .flexibility_icon {
        background-position: -342px -875px;
    }
    .right-sizing_icon {
        background-position: -342px -1125px;
    }

    .left_section h1, .benefit h1 {
        font-size: 30px!important;
    }

    .icon_container, .details {
        display: block;
        padding: 10px 0;
        text-align: center;
    }
    .benefit article {
        height: 420px!important;
        width: 100%;
    }
    footer h2 {
        width: 100%;
    }
    .address_container {
        text-align: center;
    }
    .benefit, footer {
        margin-top: 25px;
    }
    .address_container {
        margin-top: 30px;
    }




}

@media only screen and (min-width : 769px) and (max-width : 1024px) {/*--- Small tablet landscape ---*/

    h1 {
        font-size: 66px;
        line-height: 60px;
        margin-bottom:20px;
    }
    .right_section img {
        margin-top: 120px;
    }
    .header_section, .case_section, footer {
        padding: 20px 0px 0 30px;
    }

    footer {
        padding-right: 30px;
    }
    p, address {
        font-size: 20px;
    }
    footer h2 {
        width: 100%;
    }
    .address_container {
        width: calc(100% - 60px);
    }
    .case_section, footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .icon_sprit {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .details {
        width: 60%;
        padding-right: 10px;
    }
    .content {
        padding: 0px
    }
    .mask {
        padding-top: 40px;
    }
    .benefit article {
        height: 412px!important;
    }

    .wrapper, .content {
        width: 100%;
    }



}


/* ---------common max----------- */

@media only screen  and (max-width : 768px) {
    .wrapper, .content {
        width: 100%;
    }
    .wrapper,.content {
        padding: 0;
    }
    .mask {
        padding-left: 15px;
        padding-right: 15px;
    }
    .details {
        width: 50%;
        margin-top:25px;
    }
    .header_section, .case_section, footer {
        padding: 15px 0 15px 15px;

    }
    .benefit article {
        height: 310px;
    }
       


    .header_section, .case_section {
        overflow: hidden;
    }
    footer {
        padding-right: 15px;
    }
    .revolution_logo {
        width: 470px;
        margin-left: auto;
        margin-right: auto;
    }
    .case_section .left_section {
        width: calc(50% - 2px);
        margin-right: 0;
    }
    .case_section .right_section {
        width: calc(50% - 2px);
        margin-left: 0;
    }
    .case_section .right_section img {
        width: 100%;
    }
    .left_section {
        padding-top: 40px;
    }
    .left_section h1, .benefit h1 {
        font-size: 40px;
        margin-bottom: 10px;
        line-height: 40px;
    }
    .left_section h2, footer h2 {
        font-size: 18px;
    }
    .header_section p {
        margin-top: 30px;
        font-size: 15px;
    }
    .right_section img {
        position: relative;
        bottom: -15px;
        right: -70px;

    }
    .case_section p {
        margin: 30px 0 45px 0;
    }

    .details {
        padding: 0;
    }
    .icon_sprit {
        display: block;
        margin: auto;
    }
    .footer h2 {
        width: 75%;
    }
    .address_container {
        width: 100%;
        padding: 0 15px;
        margin: 60px auto 0 auto;
    }
    p, address {
        font-size: 15px;
    }

}
@media only screen  and (min-width : 1170px) {


}